apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app-deployment
spec:
  selector:
    matchLabels:
      app: sample-app -pod name
    # Define pods
  template:
    metadata:
      labels:
        app: sample-app
    #replicas: 2
    spec:
      containers:
      - name: sample-app
        image: renveg2010/sample-app
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
