apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app-deployment
spec:
  selector:
    matchLabels:
      app: sample-app
    # Define pods
  template:
    metadata:
      labels:
        app: sample-app
    replicas: 1
    spec:
      containers:
      - name: sample-app
        image: renveg2010/sample-app:1.0.0
        resources:
          limits:
            memory: "256Mi"
            cpu: "256m"
        ports:
        - containerPort: 80
